html, body{
    margin:0;
}

section{
    width:100%;
    height:100vh;
    background: #313131;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows:repeat(3, 1fr);
    /* grid-template-rows: repeat (2, 1fr); */
    /* grid-auto-rows: minmax(700px, 1fr); */
    grid-column-gap: 50px;
} 

.box-content{
    color:white;
}

.box-content h1{
    color:aquamarine;
}

